<!-- <div class="col-lg-8 col-sm-8 col-12 order-1 order-sm-2" id="pSec2">
    <div id="sub1">
		<h5 id="name">Corona</h5>
        <div id="patientDetails">
            <h3 id="heading2">Documents</h3>
            <label for="bloodGroup" class="detailLevels">Blood Group : </label>
            <input type="text" class="detailFields" id="bloodGroup">
            <br>
            <label for="Address" class="detailLevels">Address : </label>
            <input type="text" class="detailFields" id="Address">
            <br>
            <label for="PhoneNo" class="detailLevels">Phone No. : </label>
            <input type="tel" class="detailFields" id="PhoneNo">
            <br>
            <label for="Email" class="detailLevels">Email : </label>
            <input type="email" class="detailFields" id="Email">
            <br>
        </div>
    </div>
</div> -->
<link rel="stylesheet" href="../css/disease.css">


<div class="col-lg-8 col-sm-8 col-12 order-1 order-sm-2" id="pSec9">
    <div id="sub4">
        <div class="container">
            <br />

            <h5 id="name1">Corona</h5>
            <br />

            <div
                class="media"
                style="background: rgb(179, 232, 241)"
            >
                <img
                    class="pdf-img align-self-center mr-3"
                    src="../img/pdf-image.png"
                    alt="Generic placeholder image"
                    style="width: 80px"
                />
                <div
                    style="display: inline-block"
                    class="media-heading align-self-center"
                >
                    BloodReport.pdf
                </div>

                <div class="media-body">
                    <p>
                        <a
                            href="../pdf/sample.pdf"
                            style="color: black"
                            ><i
                                class="fa fa-download fa-3x"
                                aria-hidden="true"
                            ></i
                        ></a>
                    </p>
                </div>
            </div>
            <br />

            <div
                class="media"
                style="background: rgb(179, 232, 241)"
            >
                <img
                    class="pdf-img align-self-center mr-3"
                    src="../img/pdf-image.png"
                    alt="Generic placeholder image"
                    style="width: 80px"
                />
                <div
                    style="display: inline-block"
                    class="media-heading align-self-center"
                >
                    BloodReport.pdf
                </div>

                <div class="media-body">
                    <p>
                        <a
                            href="../pdf/sample.pdf"
                            style="color: black"
                            ><i
                                class="fa fa-download fa-3x"
                                aria-hidden="true"
                            ></i
                        ></a>
                    </p>
                </div>
            </div>
            <br />

            <div
                class="media"
                style="background: rgb(179, 232, 241)"
            >
                <img
                    class="pdf-img align-self-center mr-3"
                    src="../img/pdf-image.png"
                    alt="Generic placeholder image"
                    style="width: 80px"
                />
                <div
                    style="display: inline-block"
                    class="media-heading align-self-center"
                >
                    BloodReport.pdf
                </div>

                <div class="media-body">
                    <p>
                        <a
                            href="../pdf/sample.pdf"
                            style="color: black"
                            ><i
                                class="fa fa-download fa-3x"
                                aria-hidden="true"
                            ></i
                        ></a>
                    </p>
                </div>
            </div>
            <br />
            <div
                class="media"
                style="background: rgb(179, 232, 241)"
            >
                <img
                    class="pdf-img align-self-center mr-3"
                    src="../img/pdf-image.png"
                    alt="Generic placeholder image"
                    style="width: 80px"
                />
                <div
                    style="display: inline-block"
                    class="media-heading align-self-center"
                >
                    BloodReport.pdf
                </div>

                <div class="media-body">
                    <p>
                        <a
                            href="../pdf/sample.pdf"
                            style="color: black"
                            ><i
                                class="fa fa-download fa-3x"
                                aria-hidden="true"
                            ></i
                        ></a>
                    </p>
                </div>
            </div>
            <br />
            <div
                class="media"
                style="background: rgb(179, 232, 241)"
            >
                <img
                    class="pdf-img align-self-center mr-3"
                    src="../img/pdf-image.png"
                    alt="Generic placeholder image"
                    style="width: 80px"
                />
                <div
                    style="display: inline-block"
                    class="media-heading align-self-center"
                >
                    BloodReport.pdf
                </div>

                <div class="media-body">
                    <p>
                        <a
                            href="../pdf/sample.pdf"
                            style="color: black"
                            ><i
                                class="fa fa-download fa-3x"
                                aria-hidden="true"
                            ></i
                        ></a>
                    </p>
                </div>
            </div>
            <br />
        </div>
    </div>

    <div id="sub4">
        <div class="container">
            <br />
            <h5 id="name1">Cancer</h5>
            <br />

            <div
                class="media"
                style="background: rgb(179, 232, 241)"
            >
                <img
                    class="pdf-img align-self-center mr-3"
                    src="../img/pdf-image.png"
                    alt="Generic placeholder image"
                    style="width: 80px"
                />
                <div
                    style="display: inline-block"
                    class="media-heading align-self-center"
                >
                    BloodReport.pdf
                </div>

                <div class="media-body">
                    <p>
                        <a
                            href="../pdf/sample.pdf"
                            style="color: black"
                            ><i
                                class="fa fa-download fa-3x"
                                aria-hidden="true"
                            ></i
                        ></a>
                    </p>
                </div>
            </div>
            <br />

            <div
                class="media"
                style="background: rgb(185, 228, 236)"
            >
                <img
                    class="pdf-img align-self-center mr-3"
                    src="../img/pdf-image.png"
                    alt="Generic placeholder image"
                    style="width: 80px"
                />
                <div
                    style="display: inline-block"
                    class="media-heading align-self-center"
                >
                    BloodReport.pdf
                </div>

                <div class="media-body">
                    <p>
                        <a
                            href="../pdf/sample.pdf"
                            style="color: black"
                            ><i
                                class="fa fa-download fa-3x"
                                aria-hidden="true"
                            ></i
                        ></a>
                    </p>
                </div>
            </div>
            <br />

            <div
                class="media"
                style="background: rgb(179, 232, 241)"
            >
                <img
                    class="pdf-img align-self-center mr-3"
                    src="../img/pdf-image.png"
                    alt="Generic placeholder image"
                    style="width: 80px"
                />
                <div
                    style="display: inline-block"
                    class="media-heading align-self-center"
                >
                    BloodReport.pdf
                </div>

                <div class="media-body">
                    <p>
                        <a
                            href="../pdf/sample.pdf"
                            style="color: black"
                            ><i
                                class="fa fa-download fa-3x"
                                aria-hidden="true"
                            ></i
                        ></a>
                    </p>
                </div>
            </div>
            <br />
            <div
                class="media"
                style="background: rgb(179, 232, 241)"
            >
                <img
                    class="pdf-img align-self-center mr-3"
                    src="../img/pdf-image.png"
                    alt="Generic placeholder image"
                    style="width: 80px"
                />
                <div
                    style="display: inline-block"
                    class="media-heading align-self-center"
                >
                    BloodReport.pdf
                </div>

                <div class="media-body">
                    <p>
                        <a
                            href="../pdf/sample.pdf"
                            style="color: black"
                            ><i
                                class="fa fa-download fa-3x"
                                aria-hidden="true"
                            ></i
                        ></a>
                    </p>
                </div>
            </div>
            <br />
            <div
                class="media"
                style="background: rgb(179, 232, 241)"
            >
                <img
                    class="pdf-img align-self-center mr-3"
                    src="../img/pdf-image.png"
                    alt="Generic placeholder image"
                    style="width: 80px"
                />
                <div
                    style="display: inline-block"
                    class="media-heading align-self-center"
                >
                    BloodReport.pdf
                </div>

                <div class="media-body">
                    <p>
                        <a
                            href="../pdf/sample.pdf"
                            style="color: black"
                            ><i
                                class="fa fa-download fa-3x"
                                aria-hidden="true"
                            ></i
                        ></a>
                    </p>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
