.row{
	margin-bottom: 3vh;
}
#pSec1{
	/* height: 91vh; */
}
#pSec9{
	top: 15px;
	/* height: 91vh; */
	/* overflow-y: scroll; */
	/* box-shadow: 3px 3px 15px rgb(0 0 0 / 25%);
    border-radius: 10px 10px 10px 10px; */
}
#sub4{
	height: 91vh;
	overflow-y: scroll;
	box-shadow: 3px 3px 15px rgb(0 0 0 / 25%);
    border-radius: 10px 10px 10px 10px;
	margin-bottom: 15px;
}
#Dr{
	height: auto !important;
	/* padding: 8% !important; */
}
#name1{
	position: relative;
	padding: 2vh 0 1vh;
	margin-bottom: 2vh;
}
.disease-flexbox{
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
}
.media{
	margin-bottom: 20px;
	display: flex;
	align-items: flex-end !important;
	justify-content: space-between !important;
}
.pdf-img{
	margin-left: 5px;
}
.media-body{
	display: block !important;
	flex: none !important;
	margin-right: 15px;
	justify-self: flex-end;
}