html,
body {
    overflow: hidden;
    /*height: 100%;*/
}

.logo-side {
    width: 55%;
}
.containers {
    display: flex;
    width: 100vw;
    height: 99vh;
    margin: auto auto;
    background: linear-gradient(243.18deg, #3298f8 0%, #004f98 100%);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}
.wave1 {
    background-image: url('../img/wave1.png');
    width: 100%;
    height: 30%;
    background-size: contain;
    background-repeat: no-repeat;
}
.main-img {
    height: 50%;
    width: 100%;
    background-image: url('../img/Frame.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(5%, -10%) scale(1.1);
}
.row-logo {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: inherit;
    height: 60%;
    width: 100%;
    transform: translateY(-66.5%);
    z-index: 2;
    bottom: 0;
}
.wave2 {
    width: 100%;
    background-image: url('../img/wave2.png');
    transform: scale(1.9) translate(23.5%, -23.5%);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}
.wave3 {
    width: 100%;
    transform: scale(2) translate(-1%, -25%);
    background-image: url('../img/wave3.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.details-side {
    width: 67%;
    background-image: url('../img/seprator.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 10;
}

body {
    background: #dfe7e9;
    font-family: 'Roboto', sans-serif;
}

.form-control {
    font-size: 16px;
    transition: all 0.4s;
    box-shadow: none;
    background-color: #f1f1f1;
}
.form-control:focus {
    border-color: #5ad35a;
}
.form-control,
.btn {
    border-radius: 50px;
    outline: none !important;
}

.login-form {
    position: relative;
    top: -25px;
    width: 480px;
    margin: 0 auto;
    padding: 30px 0;
}
.login-form form {
    /* border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
    padding: 40px;
}
.login-form a {
    color: #5cb85c;
}
.login-form h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
}
.login-form .hint-text {
    color: #999;
    text-align: center;
    margin-bottom: 20px;
}
.login-form .form-group {
    margin-bottom: 20px;
}
.form-group {
    display: flex;
    align-items: center;
    height: 5.5vh;
}
.login-form .btn {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}
.login-btn {
    text-align: center;
    transition: all 0.4s;
    border-radius: 50px;
    background-color: #507cc0;
}
.login-btn:hover {
    background: #507cc0;
    opacity: 0.9;
}
.or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}
.or-seperator b {
    padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}
.social-btn .btn {
    color: #fff;
    margin: 10px 0 0 15px;
    font-size: 15px;
    border-radius: 50px;
    font-weight: normal;
    border: none;
    transition: all 0.4s;
}
.social-btn .btn:first-child {
    margin-left: 0;
}
.social-btn .btn:hover {
    opacity: 0.8;
}
.social-btn .btn-primary {
    background: #507cc0;
}
.social-btn .btn-info {
    background: #64ccf1;
}
.social-btn .btn-danger {
    background: #df4930;
}
.social-btn .btn i {
    float: left;
    margin: 3px 10px;
    font-size: 20px;
}

#login-text {
    font-size: medium;
    color: aqua;
}
.forgot {
    text-align: center;
    font-size: medium;
}
.form-rounded {
    border-radius: 0.5rem;
}
@media (max-width: 1170px) {
    .login-form form {
        padding: 0px 3vw;
    }
    .social-btn .btn {
        margin: 1.5vh 0 0 1vw;
    }
}
@media (max-width: 1000px) {
    .logo-side {
        width: 52%;
    }
    .details-side {
        background-image: none;
        background-color: #fff;
        width: 48%;
    }
    .main-img {
        width: 80%;
        margin: 0 10% 0 8%;
    }
    .wave3 {
        /* transform: translateX(-25%); */
        transform: scaleX(2) scaleY(2.4) translate(-1%, -29.3%);
    }
    .login-form {
        width: 80%;
    }
}
@media (max-width: 936px) {
    .login-form {
        width: 90%;
    }
}
@media (max-width: 820px) {
    .logo-side {
        width: 50%;
    }
    .details-side {
        width: 50%;
    }
    .login-form form {
        padding: 0px 1.2vw;
    }
    .login-form h2 {
        text-align: center;
        font-size: 3.2rem;
        margin: 2.5vh 0 2vh;
    }
}
@media (max-width: 730px) {
    .social-btn .btn {
        margin: 1.5vh 0 0 1vw;
    }
    .hint-text {
        display: none;
    }
    .hint-text-2 {
        display: block;
        margin-bottom: 2vh;
    }
    .login-form .btn {
        font-size: 1.7rem;
    }
    .btn-lg {
        padding: 7px 10px;
    }
    .wave2 {
        transform: scaleY(2.3) scaleX(2.1) translate(26.3%, -28.2%);
    }
    .wave3 {
        transform: scaleX(2) scaleY(2.7) translate(-4%, -31.5%);
    }
    .login-form h2 {
        text-align: center;
        font-size: 2.8rem;
        margin: 2.5vh 0 3vh;
    }
}
@media (max-width: 617px) {
    .login-form h2 {
        text-align: center;
        font-size: 2.3rem;
        margin: 2.5vh 0 2vh;
    }
    .or-seperator {
        margin: 6vh 0 1.5vh;
    }
    .form-group {
        width: 97%;
    }
    .text-center {
        font-size: 1.4rem;
    }
}
@media (max-width: 500px) {
    .containers {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    .logo-side {
        width: 100vw;
        height: 20vh;
    }
    .details-side {
        width: 100vw;
        height: 83vh;
    }
    .wave2 {
        display: none;
    }
    .wave3 {
        display: none;
    }
    .main-img {
        display: none;
    }
    .row-logo {
        height: 0;
    }
    .wave1 {
        background-image: url('../img/wave1mobile.png');
        height: 20vh;
        width: 100vw;
        transform: scaleX(1.6) translateX(15vw);
    }
    .details-side {
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;

        transform: translateY(-3vh);
    }
    .login-form h2 {
        text-align: center;
        font-size: 3.4rem;
    }
    .hint-text-2 {
        display: none;
    }
    .login-form .hint-text {
        display: block;
        margin-bottom: 1.5vh;
        font-size: 1.5rem;
    }
    .social-btn .btn {
        margin: 1.5vh 0 0 5vw;
        font-size: 2.2rem;
    }
    .or-seperator {
        margin: 5vh 0 1vh;
        text-align: center;
        border-top: 1px solid #e0e0e0;
    }
    .login-form .form-group {
        line-height: 8vh;
        margin-bottom: 3vh;
    }
}
@media (max-width: 410px) {
    .wave1 {
        transform: scale(1.5, 1) translateX(16vw);
    }
    .or-seperator {
        margin: 4vh 0 -2vh;
        text-align: center;
        border-top: 1px solid #e0e0e0;
    }
}

@media (max-width: 340px) {
    .login-form h2 {
        font-size: 3rem;
    }
    .login-form .hint-text {
        display: none;
    }
    .hint-text-2 {
        display: block;
    }
    .login-form .form-group {
        margin-bottom: 4vh;
    }
    .input-lg {
        height: 6vh;
    }
    .login-form .form-group {
        margin-bottom: 3vh;
    }
    .login-form .btn {
        font-size: 1.6rem;
    }
    .or-seperator {
        margin: 5vh 0 -2vh;
        text-align: center;
        border-top: 1px solid #e0e0e0;
    }

    .wave1 {
        transform: scale(1.5, 1) translateX(14vw);
    }
}
@media (max-width: 282px) {
    .wave1 {
        transform: scale(1.4, 1) translateX(10vw);
    }
    .login-form h2 {
        font-size: 2.7rem;
    }
    .login-form .btn {
        font-size: 1.4rem;
    }
    .or-seperator {
        margin: 10vh 0 1.5vh;
        text-align: center;
        border-top: 1px solid #e0e0e0;
    }
}
@media (max-height: 282px) {
    .login-form h2 {
        font-size: 2.7rem;
    }
    .login-form .btn {
        font-size: 1.4rem;
    }
    .or-seperator {
        margin: 5vh 0 1.5vh;
        text-align: center;
        border-top: 1px solid rgb(247, 237, 237);
    }
}
