
#logInform{
	position:absolute;
	top:25vh;
	width:50vw;
	height:100vh;
}
#heading1{
	text-align:center;
	font-family:Product Sans;
	font-weight: bold;
	font-size:250%;
	line-height:50.95px;
	letter-spacing: 0.03em;
}
#logInText{
	text-align:center;
	color: #7D7987;
	font-size:1.1em;
	font-family:Product Sans;
}

 #details1{
 	position:relative;
 	top:3vh;
 	left:12vw;
 }
 .label2{
 	display:block;
 	font-size:1.1em;
 }
 #eyeIcon{
 	margin-left:-45px;
 	cursor:pointer;
 }
 #submitbtn1{
 	display:block;
 	margin-top:3px;
 	width:24vw;
 	height:6.5vh;
 	background: #458FF6;
    border-radius: 6px;
    outline:none;
    border:none;
    color:#FFFFFF;
    font-family:Inter;
    text-align:center;
    font-size:1.1em;
  }
    #signUpopt{
 	margin-top:6vh;
 	margin-left:14vw;
 	color: #696F79;
 	font-family:Inter;
 	font-size:1.2em;
 	display:inline-block;
 }
 #signUpLink{
 	text-decoration: underline;
 	font-family:Inter;
 	font-size:1.2em;
 }
 @media screen and (max-width: 1050px){
	#signUpform{
		margin: 10vh auto;
	}
	#submitbtn1{
		width: 28vw;
	}
	#signUpopt {
		margin-top: 6vh;
		margin-left: 10vw;
	}
}
@media screen and (max-width: 850px){
	#heading{
		margin: 0 8px;
	}
	#signUpopt {
		margin-top: 6vh;
		margin-left: 10vw;
	}
	#signUpText{
		margin: 0 8px;
	}
	#logInText{
		margin: 0 4px;
	}
	.inputDetails{
		width: 32vw;
	}
	#submitbtn1{
		width: 32vw;
	}
	#design {
		margin-top: 22.5vh;
		height: 50%;
	}
}
@media screen and (max-width: 750px){
	#submitbtn1{
		width: 32vw;
	}
	#login {
		margin-left: 9vw
	}
	#signUpopt {
		margin-top: 6vh;
		margin-left: 8vw;
		font-size: 1rem;
	}
	#logInText{
		margin: 0 4px;
	}
	#signUpLink{
		font-size: 1rem;
	}
	#details1{
		left: 8vw;
	}
	#heading1 {
		font-size: 200%;
	}
}
@media screen and (max-width: 710px){
	#logInText{
		margin: 0 4px;
		font-size: 0.9rem;
	}
	#signUpopt {
		margin-top: 6vh;
		margin-left: 4.5vw;
		font-size: 1rem;
	}
}
@media screen and (max-width: 575px){
	/* mobile-view */
}