.strength-meter{
    position:relative;
    height: 0.8vh;
    width:24vw;
    border: 1px solid hsl(218, 15%, 59%);
    background-color: rgb(250,240,250);
    border-radius:1rem;
    overflow:hidden;
    display: none;
}
.strength-meter::before{
    content:'';
    position:absolute;
    left:0;
    width:calc(1% * var(--strength,0));
    height:100%;
    background: var(--newBackground);
    transition:width 200ms;
}
.password-rate{
    font-size: 1rem;
    color: var(--newBackground);
    display: none;
}
.reasons{
    display:none;
 	width:24vw;
 	border-radius: 6px;
 	outline:none;
 	margin-bottom:15px;
    font-size:0.8em;
    color: #721c24;
    background-color: #f8d7da;
    border: 3px solid #f5c6cb;
    padding: 2px;

} 
@media screen and (max-width: 1050px){
    .strength-meter{
        width: 28vw;
    }
}
@media screen and (max-width: 850px){
    .strength-meter{
        width: 32vw;
    }
}


