.containers{
    display: flex;
    width: 100vw;
    height: 99vh;
    margin: auto auto;
    background: linear-gradient(243.18deg, #349EFF 0%, #004F98 100%);   
    /* margin-top: 11.5vh; */
    box-shadow: 0 6px 6px rgba(0,0,0,0.2);
}
.logo-side{
    width: 55%;
}

.wave1{
    background-image: url("../img/wave1.png");
    width: 100%; 
    height: 30%;
    background-size: contain;
    background-repeat: no-repeat;
}
.main-img{
    height: 50%;
    width: 100%; 
    background-image: url("../img/Frame.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(5%, -10%) scale(1.1);
}
.row-logo{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: inherit;
    height: 60%;
    width: 100%;
    transform: translateY(-66.5%);
    z-index: 2;
    bottom: 0;
}
.wave2{
    width: 100%;
    background-image: url("../img/wave2.png");
    transform: scale(1.9) translate(23.5%, -23.5%);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}
.wave3{
    width: 100%;
    transform: scale(2) translate(-1%, -25%);
    background-image: url("../img/wave3.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.details-side{
    width: 67%;
    background-image: url("../img/seprator.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 10;
}



body {
    background: #dfe7e9;
    font-family: 'Roboto', sans-serif;
}
.form-control {
    font-size: 16px;
    transition: all 0.4s;
    box-shadow: none;
    background-color: #f1f1f1;
}
.form-control:focus {
    border-color: #5cb85c;
}
.form-control, .btn {
    border-radius: 50px;
    outline: none !important;
}

.signup-form {
    position: relative;
    top: -25px;
    width: 480px;
    margin: 0 auto;
    padding: 30px 0;
}
.signup-form form {
    border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
    padding: 40px;
}
.signup-form a {
    color: #5cb85c;
}    
.signup-form h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
}
.signup-form .hint-text {
    color: #999;
    text-align: center;
    margin-bottom: 20px;
}
.signup-form .form-group {
    margin-bottom: 20px;
}
.signup-form .btn {        
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}
.signup-btn {
    text-align: center;
    transition: all 0.4s;
    border-radius: 50px;
    background-color:#507cc0;
}
.signup-btn:hover {
    background:  #507cc0;
    opacity: 0.9;
}
.or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}
.or-seperator b {
    padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}
.social-btn .btn {
    color: #fff;
    margin: 10px 0 0 15px;
    font-size: 15px;
    border-radius: 50px;
    font-weight: normal;
    border: none;
    transition: all 0.4s;
}	
.social-btn .btn:first-child {
    margin-left: 0;
}
.social-btn .btn:hover {
    opacity: 0.8;
}
.social-btn .btn-primary {
    background: #507cc0;
}
.social-btn .btn-info {
    background: #64ccf1;
}
.social-btn .btn-danger {
    background: #df4930;
}
.social-btn .btn i {
    float: left;
    margin: 3px 10px;
    font-size: 20px;
}
.form-group{
    display: flex;
    align-items: center;
}
i{
    display: inline;
    margin-left: -40px;
    cursor: pointer;
}