<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOSPITAL PROFILE</title>
</head>
<body>
    <%- include('../partials/message'); %></div>
    <h1>HOSPITAL PROFILE</h1>
    <h2>Patients</h2>
    <ul>
        <% for(var d of patients) { %>
            <li><%= d.userId %></li>
        <% } %>
    </ul>
</body>
</html>