
/*.faqpart{
    width: 100%;
    justify-content: center;
    background-image: url(images/);
    background-size: 110%;
    background-repeat: no-repeat;
    padding:5% 10% 20% 10%;
    z-index: -1;
}*/
.faqpart {
    width: 100%;
    justify-content: center;
    background-image: url('./images/doctor.gif');
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 5% 10% 20% 10%;
    z-index: -2;
    font-family: 'Lato-Bold';
}

::placeholder { 
    color: rgb(255, 255, 255);
    opacity: 1;
}

.faqcard {
    border: none;
    background: transparent;
}

.faqsearch {
    width: 100%;
    margin-bottom: auto;
    margin-top: 35px;
    height: 50px;
    background-color: #559cff;
    padding: 10px;
    border-radius: 2rem;
    z-index: 11;
}

.faqsearch-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}


.faqsearch .faqsearch-input {
    padding: 10 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    transition: width 0.4s linear;
}

.faqsearch-icon {
    background-repeat: no-repeat;
    background-size: auto;
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #f8f8f8;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 10rem;
    z-index: 2;
}
h3 {
    font-size:36px;
}

a:link {
    text-decoration: none
}

.faqcard-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 10%;
    word-wrap: break-word;
    background-color: #c7e9f7;
    background-clip: border-box;
    border: 1px solid #00000020;
    border-radius: .55rem;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
}

.faqcard-inner:hover {
    transform: scale(1.16);
}

.faqcard-inner img{
    width: 80px;
}

.mg-text .mg-text1 {
    font-size: 17px;
}
.mg-text .mg-text2{
    font-size: 13px;
    line-height: 1px;
}

.medss{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}

.faqimage{
    position: absolute;
    size: 50%;
    height: 10px;
    width: 10px;
    transform: scale(0.29);
    z-index: 0;
    left:64%;
    top: 0%;
    opacity: 0.5;
}

.faqplacards{
    width: 22%;
    height: 23%;
}

@media screen and (max-width: 880px) {
    .faqheading{
        font-size: 28px;
    }
    .faqsearch{
        margin-top: 40px;
    }
    .p-3{
        padding: 10px;
    }
    .faqplacards{
        width: 35%;
    }
    h3{
        font-size:25px;
    }
}

@media screen and (max-width: 450px) {
    .faqpart{
        padding: 5% 3% 20% 3%;
    }
    .faqimage{
        display: none;
    }
    .faqplacards{
        width: 30%;
    }
    h3{
        font-size:22px;
    }
}

@media screen and (max-width: 380px) {
    .faqplacards{
        width: 90%;
        margin-top: 10px;
    }
    .medss{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    h3{
        font-size:18px;
    }
}